# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Data
data/
*.fif
*.h5
*.npy
*.npz
*.png


# Jupyter Notebooks

# Project Folders
simulate/
old_code/
output/
output_cut/
output_neo/
output_test/
output_copy/
output_PARAFAC/
for_neurophysiologists/
PCIst_output/
notebooks/
