numpy>=1.16.0
scipy>=1.2.0
mne>=1.1
mne-bids
pooch
torch
scikit-learn
tensorly
matplotlib
seaborn
tqdm
mne-faster
psutil
construct
pyyaml
pytest
pytesseract>=0.3
pywavelets>=1.1
xlrd>=2.0
openpyxl>=3.0
pymatreader>=0.0.30
importlib-metadata; python_version<"3.8"
importlib-resources; python_version<"3.9"